[submodule "wine"]
	path = wine
	url = https://github.com/ValveSoftware/wine/
[submodule "wine-staging"]
	path = wine-staging
	url = https://github.com/wine-staging/wine-staging/
[submodule "dxvk"]
	path = dxvk
	url = https://github.com/doitsujin/dxvk/
[submodule "FFmpeg"]
	path = FFmpeg
	url = https://github.com/ffmpeg/FFmpeg/
[submodule "openvr"]
	path = openvr
	url = https://github.com/ValveSoftware/openvr/
[submodule "fonts/liberation-fonts"]
	path = fonts/liberation-fonts
	url = https://github.com/liberationfonts/liberation-fonts/
[submodule "FAudio"]
	path = FAudio
	url = https://github.com/FNA-XNA/FAudio/
[submodule "protonfixes"]
        path = protonfixes
	url = https://github.com/gloriouseggroll/protonfixes/
[submodule "vkd3d-proton"]
	path = vkd3d-proton
	url = https://github.com/HansKristian-Work/vkd3d-proton/
[submodule "gstreamer"]
	path = gstreamer
	url = https://github.com/GStreamer/gstreamer/
[submodule "gst-plugins-base"]
	path = gst-plugins-base
	url = https://github.com/GStreamer/gst-plugins-base/
[submodule "gst-plugins-good"]
	path = gst-plugins-good
	url = https://github.com/GStreamer/gst-plugins-good/
[submodule "gst-plugins-bad"]
        path = gst-plugins-bad
	url = https://github.com/GStreamer/gst-plugins-bad/
[submodule "gst-plugins-ugly"]
        path = gst-plugins-ugly
        url = https://github.com/GStreamer/gst-plugins-ugly/
[submodule "gst-libav"]
        path = gst-libav
	url = https://github.com/GStreamer/gst-libav/
[submodule "gst-orc"]
        path = gst-orc
	url = https://github.com/GStreamer/orc/
[submodule "OpenXR-SDK"]
	path = OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK
[submodule "dxvk-nvapi"]
	path = dxvk-nvapi
	url = https://github.com/jp7677/dxvk-nvapi
[submodule "SPIRV-Headers"]
        path = SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "Vulkan-Headers"]
        path = Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "Vulkan-Loader"]
        path = Vulkan-Loader
        url = https://github.com/KhronosGroup/Vulkan-Loader
[submodule "vkd3d"]
	path = vkd3d
	url = https://github.com/ValveSoftware/vkd3d.git
[submodule "dav1d"]
	path = dav1d
	url = https://github.com/videolan/dav1d.git
[submodule "gst-plugins-rs"]
	path = gst-plugins-rs
	url = https://gitlab.freedesktop.org/gstreamer/gst-plugins-rs.git
[submodule "graphene"]
	path = graphene
	url = https://github.com/ebassi/graphene
[submodule "glslang"]
	path = glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "openfst"]
	path = openfst
	url = https://github.com/alphacep/openfst
[submodule "kaldi"]
	path = kaldi
	url = https://github.com/alphacep/kaldi
	branch = vosk
[submodule "vosk-api"]
	path = vosk-api
	url = https://github.com/alphacep/vosk-api
