[submodule "wine"]
    path = wine
    url = https://github.com/ValveSoftware/wine/
[submodule "dxvk"]
	path = dxvk
	url = https://github.com/ValveSoftware/dxvk/
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "openvr"]
	path = openvr
	url = https://github.com/ValveSoftware/openvr
[submodule "cmake"]
	path = cmake
	url = https://github.com/Kitware/CMake
[submodule "fonts/liberation-fonts"]
	path = fonts/liberation-fonts
	url = https://github.com/liberationfonts/liberation-fonts
[submodule "FAudio"]
	path = FAudio
	url = https://github.com/FNA-XNA/FAudio/
[submodule "vkd3d"]
	path = vkd3d
	url = https://github.com/ValveSoftware/vkd3d/
[submodule "SPIRV-Headers"]
	path = SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "Vulkan-Headers"]
	path = Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "gstreamer"]
	path = gstreamer
	url = https://gitlab.freedesktop.org/gstreamer/gstreamer.git
[submodule "gst-plugins-base"]
	path = gst-plugins-base
	url = https://gitlab.freedesktop.org/gstreamer/gst-plugins-base.git
[submodule "gst-plugins-good"]
	path = gst-plugins-good
	url = https://gitlab.freedesktop.org/gstreamer/gst-plugins-good.git
[submodule "glib"]
	path = glib
	url = https://gitlab.gnome.org/GNOME/glib.git
[submodule "gst-orc"]
	path = gst-orc
	url = https://gitlab.freedesktop.org/gstreamer/orc.git
