[submodule "wine"]
	path = wine
	url = https://github.com/wine-mirror/wine/
[submodule "wine-staging"]
	path = wine-staging
	url = https://github.com/wine-staging/wine-staging/
[submodule "dxvk"]
	path = dxvk
	url = https://github.com/doitsujin/dxvk/
[submodule "d9vk"]
        path = d9vk
        url = https://github.com/Joshua-Ashton/d9vk
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "openvr"]
	path = openvr
	url = https://github.com/ValveSoftware/openvr
[submodule "cmake"]
	path = cmake
	url = https://github.com/Kitware/CMake
[submodule "fonts/liberation-fonts"]
	path = fonts/liberation-fonts
	url = https://github.com/liberationfonts/liberation-fonts
[submodule "FAudio"]
	path = FAudio
	url = https://github.com/FNA-XNA/FAudio/
[submodule "protonfixes"]
        path = protonfixes
	url = https://github.com/gloriouseggroll/protonfixes
