aclocal.m4
autom4te.cache
config.log
config.status
configure
libtool
Makefile
Makefile.in
test-suite.log
vkd3d-compiler

vkd3d-*.tar.xz

*.exe
*.la
*.lo
*.log
*.o
*.pc
*.trs
*~

.deps
.dirstamp
.libs
